/************************************
    OTHER VARIABLES
*************************************/
$landing-video-overlay: #00000056;
$red-alert-color: rgb(211, 44, 44);
$green-alert-color: rgb(19, 146, 61);

// ORDERS
$success-order: rgba(19, 146, 61, 0.438);
$pending-order: rgba(214, 118, 8, 0.438);
$packed-order: rgba(214, 211, 18, 0.438);
$failed-order: rgba(211, 44, 44, 0.493);

/************************************
    PRODUCTS VARIABLES
*************************************/
$product-price-color: rgb(19, 146, 61);
$product-sale-price-color: rgb(19, 146, 61);
$product-price-font-size: 15pt;
$product-sale-price-font-size: 12pt;